<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <meta name="csrf-token" content="{{ csrf_token() }}" />

    <title>Smart Fit - Onboarding</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <a
        href="cosplaymaniac.foxcornio.com"
        style="text-decoration: none; color: inherit"
      >
        <h1>smart <span>fit</span></h1>
      </a>
    </div>
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
